{% extends 'base.html.twig' %}

{% block title %}Modifier mon profil{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 class="mb-4">
            {% if mode == "EDIT" %}
                Modifier
                {% if user.userIdentifier != participant.pseudo and is_granted('ROLE_ADMIN') %}
                    le
                {% else %}
                    votre
                {% endif %}
                profil
            {% else %}
                Créer un utilisateur
            {% endif %}
        </h1>

        {# Afficher la photo de profil si elle existe #}
        {% if user is not null and participant.photo %}
            <img src="{{ asset('uploads/profils/' ~ participant.photo) }}" alt="Photo de profil" class="img-thumbnail" style="max-height: 200px; max-width: 200px">
        {% else %}
            <p>Aucune photo de profil définie.</p>
        {% endif %}


        {{ form_start(form) }}

        {% if is_granted('ROLE_ADMIN') %}
            <div class="mb-1">
                {{ form_row(form.campus, {'attr': {'class': 'form-control'}}) }}
            </div>
        {% else %}
            <div class="mb-1">
                {{ form_row(form.campus, {'attr': {'class': 'form-control', 'disabled' : true}}) }}
            </div>
        {% endif %}
        <div class="mb-1">
            {{ form_row(form.prenom, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="mb-1">
            {{ form_row(form.nom, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="mb-1">
            {{ form_row(form.pseudo, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="mb-1">
            {{ form_row(form.mail, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="mb-1">
            {{ form_row(form.telephone, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="mb-1">
            {{ form_row(form.motDePasse, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="mb-1">
            {{ form_row(form.photo, {'attr': {'class': 'form-control'}}) }}
        </div>

        {% if is_granted('ROLE_ADMIN') %}
            <div class="mb-1">
                {{ form_row(form.actif, {'attr': {'class': 'form-check form-switch'}}) }}
            </div>
            {% else %}
            <div class="mb-1" style="display: none">
                {{ form_row(form.actif, {'attr': {'class': 'form-check form-switch', 'disabled' : 'true'}}) }}
            </div>
        {% endif %}

        <button type="submit" class="btn btn-primary mt-2">
            {% if  mode == "EDIT" %}
                Mettre à jour
            {% else %}
                Créer
            {% endif %}
        </button>

        {{ form_end(form) }}
    </div>
{% endblock %}
