{% extends 'base.html.twig' %}

{% block title %}Hello SortieController!{% endblock %}

{% block body %}
    <h1>Accueil</h1>
    <h2>Filtrer les sorties</h2>

    <!-- Affichage des messages flash -->
    {% for label, messages in app.flashes %}
        <div class="alert alert-{{ label }} alert-dismissible fade show mt-3 mb-3" role="alert">
            {% if label == 'warning' %}
                <strong>Attention! </strong>
            {% elseif label == 'error' %}
                <strong>Erreur! </strong>
            {% elseif label == 'success' %}
                <strong>Succès! </strong>
            {% endif %}
            {% for message in messages %}
                <p class="mb-0">{{ message }}</p>
            {% endfor %}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}

    <!-- Formulaire de filtre -->
    <form action="{{ path('app_sorties_filter') }}" method="post">
        <div class="container row">
            <div class="col">
                <div>
                    Campus :
                    <select class="form-select form-select-sm" aria-label="Campus" name="campus"
                            style="display: initial; width: fit-content">
                        <option value="" selected>Choisir</option>
                        {% for c in campus %}
                            <option value="{{ c.id }}">{{ c.nom|e }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div>
                    Le nom de la sortie contient
                    <input class="form-control form-control-sm" type="text" placeholder="search" name="search"
                           aria-label="search" style="display: initial; width: fit-content">
                </div>
                <div>
                    Entre
                    <input class="form-control form-control-sm" aria-label="dateDebut" type="date" name="dateDebut"
                           style="display: initial; width: fit-content">
                    et
                    <input class="form-control form-control-sm" aria-label="dateFin" type="date" name="dateFin"
                           style="display: initial; width: fit-content">
                </div>
            </div>
            <div class="col">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="checkOrga" name="checkOrga">
                    <label class="form-check-label" for="checkOrga">
                        Sorties dont je suis l'organisateur/trice
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="checkInscrit" name="checkInscrit">
                    <label class="form-check-label" for="checkInscrit">
                        Sorties auxquelles je suis inscrit(e)
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="checkNoInscrit" name="checkNoInscrit">
                    <label class="form-check-label" for="checkNoInscrit">
                        Sorties auxquelles je ne suis pas inscrit(e)
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="checkClose" name="checkClose">
                    <label class="form-check-label" for="checkClose">
                        Sorties terminées
                    </label>
                </div>
            </div>
            <div class="col text-center">
                <button type="submit" class="btn btn-primary">Rechercher</button>
            </div>
        </div>
    </form>

    <h2>Nos Sorties</h2>

    {% if user != null %}
    <a href="{{ path('create_sortie') }}">
        <button type="button" class="btn btn-primary">Créer une sortie</button>
    </a>
    {% endif %}
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th scope="col">Nom de la sortie</th>
            <th scope="col">Date de la sortie</th>
            <th scope="col">Clôture</th>
            <th scope="col">Inscrits/Places</th>
            <th scope="col">Etat</th>
            <th scope="col">Inscrit</th>
            <th scope="col">Organisateur</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody class="table-group-divider">
        {% for sortie in sorties %}
            {% if sortie.etat.libelle != 'En création' or ( user is not null and sortie.organisateur.pseudo == user.pseudo and sortie.etat.libelle == 'En création') %}
                <tr>
                    <td>{{ sortie.nom|capitalize }}</td>
                    <td>{{ sortie.dateHeureDebut|format_datetime(pattern: "dd/MM/yyyy à hh:mm") }}</td>
                    <td>{{ sortie.dateLimiteInscription|format_datetime(pattern: "dd/MM/yyyy") }}</td>
                    <td>{{ sortie.participants|length }} / {{ sortie.NbInscriptionMax }}</td>
                    <td>{{ sortie.etat.libelle }}</td>
                    <td>
                        {% if user is not null and sortie.participants|filter(p => p.id == user.id)|length > 0 %}
                            X
                        {% endif %}
                    </td>
                    <td>{{ sortie.organisateur.pseudo }}</td>
                    <td>
                        {% if sortie.etat.libelle != 'En création' %}
                            <a href="{{ path('show_sortie', { id: sortie.id }) }}">
                                <button type="button" class="btn btn-primary">Afficher</button>
                            </a>
                            {% if sortie.dateHeureDebut > date('now') and sortie.etat.libelle != 'Annulée' and user != null  and user.userIdentifier == sortie.organisateur.pseudo %}
                                <a href="{{ path('annuler_sortie',{ id: sortie.id }) }}">
                                    <button type="button" class="btn btn-primary">Annuler</button>
                                </a>
                            {% endif %}
                        {% endif %}

                        {% if sortie.etat.libelle == 'En création' and user is not null and user.pseudo == sortie.organisateur.pseudo %}
                            <button type="button" class="btn btn-primary">Modifier</button>
                            <button type="button" class="btn btn-primary">Publier</button>
                            <button type="button" class="btn btn-danger">Supprimer</button>
                        {% else %}
                            {% if user is not null %}
                                {% if sortie.participants|filter(p => p.id == user.id)|length == 0 %}
                                    <!-- Bouton S'inscrire s'affiche uniquement si l'utilisateur n'est pas inscrit -->
                                    <a href="{{ path('inscription_sortie', { 'id': sortie.id, 'p_id': user.id }) }}">
                                        <button type="button" class="btn btn-primary">S'inscrire</button>
                                    </a>
                                {% else %}
                                    <!-- Bouton Se désister s'affiche si l'utilisateur est déjà inscrit -->
                                    <a href="{{ path('desister_sortie', { 'id': sortie.id, 'p_id': user.id }) }}">
                                        <button type="button" class="btn btn-primary">Se désister</button>
                                    </a>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
    {% if user != null %}
        <a href="{{ path('create_sortie') }}">
            <button type="button" class="btn btn-primary">Créer une sortie</button>
        </a>
    {% endif %}
{% endblock %}
