{% extends 'base.html.twig' %}

{% block body %}
<h1>{{ sortie.nom|capitalize }}</h1>
    <div class="row">
        <div class="col">
            <div class="row">
                <label class="col">Nom de la sortie</label>
                <span class="col">{{ sortie.nom }}</span>
            </div>
            <div class="row">
                <label class="col">Date et heure de la sortie</label>
                <span class="col">{{ sortie.dateHeureDebut|format_datetime(pattern: "dd/MM/yyyy à hh:mm") }}</span>
            </div>
            <div class="row">
                <label class="col">Date limite d'inscription</label>
                <span class="col">{{ sortie.dateLimiteInscription|format_datetime(pattern: "dd/MM/yyyy à hh:mm") }}</span>
            </div>
            <div class="row">
                <label class="col">Nombre de place</label>
                <span class="col">{{ sortie.nbInscriptionMax }}</span>
            </div>
            <div class="row">
                <label class="col">Durée(min)</label>
                <span class="col">{{ sortie.duree|format_datetime(pattern: "m 'min'") }}</span>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <label class="col">Campus</label>
                <span class="col">{{ sortie.campus.nom }}</span>
            </div>
            <div class="row">
                <label class="col">Ville</label>
                <span class="col">{{ sortie.lieu.ville.nom }}</span>
            </div>
            <div class="row">
                <label class="col">Lieu</label>
                <span class="col">{{ sortie.lieu.nom }}</span>
            </div>
            <div class="row">
                <label class="col">Ville</label>
                <span class="col">{{ sortie.lieu.rue }}</span>
            </div>
            <div class="row">
                <label class="col">Ville</label>
                <span class="col">{{ sortie.lieu.ville.codePostal }}</span>
            </div>
            <div class="row">
                <label class="col">Latitude</label>
                <span class="col">{{ sortie.lieu.latitude }}</span>
            </div>
            <div class="row">
                <label class="col">Longitude</label>
                <span class="col">{{ sortie.lieu.longitude }}</span>
            </div>
        </div>
    </div>
    <div class="row">
            <div class="col col-sm-2">
                Description et infos
            </div>
            <div class="col">
                {{ sortie.infosSortie }}
            </div>
    </div>
    {% if annulation %}
    <form action="{{ path('annuler_sortie',  { id: sortie.id }) }}" method="post" class="col annulation alert alert-danger">
        <div class="row">
            <label class="col" for="motif">Motif de l'annulation</label>
            <input class="col form-control form-control-sm" name="motif" autofocus/>
        </div>
        <button type="submit" class="btn btn-danger" aria-label="confirmer l'annulation">Confirmer l'annulation</button>
    </form>
    {% endif %}
    <h2>Liste des participants inscrits</h2>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Pseudo</th>
            <th>Nom</th>
        </tr>
        </thead>
        <tbody>
        {% for p in sortie.participants %}
            <tr>
                <td><a href="{{ path('app_detail_participant', {id: p.id}) }}">{{ p.pseudo }}</a></td>
                <td>{{ p.nom }}</td>
            </tr>
        {% endfor %}
        {% if sortie.participants.count == 0 %}
            <tr>
                <td colspan="2" class="text-center">Aucun participant n'est encore inscrit</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
{% endblock %}

{% block title %}

{% endblock %}

