{% extends 'base.html.twig' %}

{% block title %}Hello CampusController!{% endblock %}

{% block body %}
    <h1>Créer une sortie</h1>

    {% if create %}
        <form action="{{ path('create_sortie') }}">
    {% else %}
        <form action="{{ path('#TODO') }}">
    {% endif %}

    {{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_widget(form)}}
    {{ form_end(form) }}


    <div class="container row">
        <div class="col">
            <div class="row">
                <label class="col form-label" for="nom">
                    Nom :
                </label>
                <input class="col form-control" type="text" id="nom" name="nom">
            </div>
            <div class="row">
                <label class="col form-check-label" for="dateHeureDebut">
                    Date de début
                </label>
                <input class="col form-control form-control-sm" aria-label="dateHeureDebut" type="date"
                       name="dateHeureDebut">
            </div>
            <div class="row">
                <label class="col form-label" for="dateLimiteInscription">
                    Date limite d'inscription
                </label>
                <input class="col form-control form-control-sm" aria-label="dateLimiteInscription" type="date"
                       name="dateLimiteInscription">
            </div>
            <div class="row">
                <label class="col form-label" for="nbInscriptionMax">
                    Nombre de places
                </label>
                <input class="col form-control form-control-sm" aria-label="nbInscriptionMax" type="number"
                       id="nbInscriptionMax"
                       name="nbInscriptionMax">
            </div>
            <div class="row">
                <label class="col form-label" for="duree">
                    Durée (en minute)
                </label>
                <input class=" col form-control form-control-sm" aria-label="duree" type="number"
                       id="duree"
                       name="duree">
            </div>
        </div>
        <div class="col">
            <div class="row">
                <label class="col form-label" for="campus">
                    Campus :
                </label>
                <select class="col form-select" aria-label="Campus" name="campus" id="campus">
                    <option value="" selected>Choisir</option>
                    {% for c in campus %}
                        <option value="{{ c.id }}">{{ c.nom|e }}</option>
                    {% endfor %}
                </select>
            </div>
            {#                <div class="row">
                    <label class="col form-label" for="villes">
                        Ville :
                    </label>
                    <select class="col form-select form-select-sm" aria-label="ville" name="villes" id="villes">
                        <option value="" selected>Choisir</option>
                        {% for v in villes %}
                            <option value="{{ v.id }}">{{ v.nom|e }}</option>
                        {% endfor %}
                    </select>
                </div> #}
            <div class="row">
                <label class="col form-label" for="lieu">
                    Lieu :
                </label>
                <select class="col form-select form-select-sm" aria-label="lieu" name="lieu" id="lieu">
                    <option value="" selected></option>
                    {% for l in lieux %}
                        <option value="{{ l.id }}">{{ l.nom|e }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="row">
                <label class="col form-label" for="rue">
                    Rue
                </label>
                <input class="col form-control form-control-sm" aria-label="rue" type="text" id="rue"
                       name="rue">
            </div>
            <div class="row">
                <label class="col form-label" for="codePostal">
                    Code postal
                </label>
                <input class="col form-control form-control-sm" aria-label="codePostal" type="number" id="codePostal"
                       name="codePostal">
            </div>
            <div class="row">
                <label class="col form-label" for="latitude">
                    Latitude
                </label>
                <input class="col form-control form-control-sm" aria-label="latitude" type="text" id="latitude"
                       name="latitude">
            </div>
            <div class="row">
                <label class="col form-label" for="longitude">
                    Longitude
                </label>
                <input class="col form-control form-control-sm" aria-label="longitude" type="text" id="longitude"
                       name="longitude">
            </div>
        </div>
    </div>
    <div class="row">
        <label class="col col-lg-2 form-label" for="description">
            Description et infos :
        </label>
        <textarea class="col form-control" aria-label="description" id="description"
                  name="description"></textarea>
    </div>
    <div class="row text-center">
        <div class="col">
            <button type="submit" class="btn btn-primary" name="button" value="save">Enregistrer</button>
        </div>
        <div class="col">
            <button type="submit" class="btn btn-primary" name="button" value="post">Publier</button>
        </div>
        <div class="col">
            <a href="{{ path('home') }}">
                <button type="button" class="btn btn-primary">Retour à la liste</button>
            </a>
        </div>
    </div>
    </form>
{% endblock %}